@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;

}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

header {
    text-align: center;
    padding-top: 100px;
}

.logo-style, .logo {
    font-family: Red Rose, sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-decoration: none;
    color: black;
}

.logo-a {
    color: red;
}

.logo2 {
    font-family: Red Rose,sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.desktop-nav {
    padding-top: 15px;
}

.dl {
    display: inline-block;
    padding: 20px; 
}

.main-nav {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.main-nav:hover {
    font-weight: bolder;
    color: red;
}

.mobile-navigations {
    display: none;
    padding-top: 0px;
}

.mobile-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 8vh;
}

.m {
    display: flex;
    width: 35%;
    justify-content: space-around;
}

.ml {
    list-style: none;
}

.mob-nav {
    color: white;
    text-decoration: none;
}

.burger div {
    display: none;
    background-color: black;
    width: 25px;
    height: 5px;
    margin: 3px;
}

.intro {
    width: 100%;
    padding-top: 80px;
    display: grid;
    grid-template-areas: "box1 ." 
                        "box2 ."
                        "box3 ." ". box4" ;
    grid-template-columns: 2fr;
    grid-column-gap: 30px;
    grid-template-rows: 3fr;
}


.introhero {
    grid-area: box1;
    font-size: 40px;
    font-family: montserrat, serif;
    font-weight: 500;
}

.briefintro {
    grid-area: box2;
    font-family: montserrat, serif;
    font-weight: 300;
    font-size: 25px;
    padding-top: 25px;
}


.socialicons {
    grid-area: box3;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-right: 20px;
}

.myself {
    grid-area: box4;
    border-radius: 60%;
    width: 80%;
    height: auto;
}

.page-title {
    margin-top: 50px;
    font-size: 60px;
}

.content-main-contact {
    display: grid;
    margin-top: 100px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 15%;
    margin-right: 15%;
}

.contact-name, .contact-email {
    margin-top: 25px;
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;    
    padding-left: 10px;
}

.contact-message {
    margin-top: 25px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    resize: none;
    font-size: 20px;
    padding-left: 10px;
}

.contact-submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 24px;
    padding: 15px 32px;
    text-decoration: none;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 40%;
}

.contact-submit:hover {
    background: white;
    border: 4px solid #4CAF50;
    border-color: #4CAF50;
    color: #4CAF50;
}

.bottom {
    margin-top: 30px;
}

@media screen and (max-width: 1400px) {
    .intro {
        grid-template-areas: "box1" 
                            "box2" 
                            "box3" 
                            "box4" ;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
    }

    .myself {
        margin-top: 50px;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .social {
        margin-right: auto;
        margin-left: auto;
        justify-content: space-around;
    }

}

@media screen and (max-width: 600px) {
        
    body {
        overflow-x: hidden;
    }
    
    .mobile-navigations {
        transform: translateX(100%);
    }

    .m {
        display: flex;
        flex-direction: column;
        background-color: red;
        height: 92vh;
        right: 0px;
        top: 8vh;
        font-size: 20px;
        align-items: center;
        width: 50%;
        
    }
 
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        text-align: center;
        padding-top: 50px;
    }
    
    .logo-style, .logo {
        font-size: 28px;
    }

    .logo2 {
        font-size: 25px;
    }
    
    .myself {
        display: none;
    }

    .intro {
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        padding-top: 40px;
    }

    .socialicons {
       height: 55px;
       width: 55px;
    }
    
    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main-nav {
        font-size: 18px;
    }

    .main-nav:hover {
        text-decoration: none;
    }

    .introhero {
        font-size: 30px;

    }
    
    .briefintro {
        font-size: 20px;
        padding-top: 15px;
    }

    .contact {
        margin-left: 5px;
        margin-right: 5px;
    }

    .contact-submit {
        font-size: 20px;
        width: 100%;
    }
        
}