@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;

}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

header {
    text-align: center;
    padding-top: 100px;
}

.logo-style, .logo {
    font-family: Red Rose, sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-decoration: none;
    color: black;
}

.logo-a {
    color: red;
}

.logo2 {
    font-family: Red Rose,sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.desktop-nav {
    padding-top: 15px;
}

li {
    display: inline-block;
    padding: 20px; 
}

.main-nav {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.main-nav:hover {
    font-weight: bolder;
    color: red;
}

.mobile-navigations {
    padding-top: 0px;
    display: none;
}

.mobile-nav{
    height: 10vh;
    background-color: black;
}

.mob-nav{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

 .m {
    list-style: none;
    display: flex;
    width: 50%;
    background: blue;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.intro {
    width: 100%;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 25px;
}


.introhero {
    font-size: 40px;
    font-family: montserrat, serif;
    font-weight: 500;
}

.briefintro {
    font-family: montserrat, serif;
    font-weight: 300;
    font-size: 25px;
    padding-top: 25px;
}


.socialicons {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-right: 20px;
}

.myself {
    border-radius: 60%;
    width: 90%;
    height: auto;
}

.page-title {
    margin-top: 50px;
    font-size: 60px;
}

@media screen and (max-width: 768px) {
        
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        text-align: center;
        padding-top: 50px;
    }
    
    .logo-style, .logo {
        font-size: 28px;
    }

    .logo2 {
        font-size: 25px;
    }
    
    .myself {
        display: none;
    }

    .intro {
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        padding-top: 40px;
    }

    .socialicons {
       height: 40px;
       width: 40px;
    }
    
    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main-nav {
        font-size: 18px;
    }

    .main-nav:hover {
        text-decoration: none;
    }

    .introhero {
        font-size: 30px;

    }
    
    .briefintro {
        font-size: 20px;
        padding-top: 15px;
    }
        
}